h1,h3{
    text-align: center;
    text-transform: capitalize;
}


h4{
    text-align: center;
    font-weight: 500;
}

div{
    text-align: center;
}

#divBorder{
    border: 2px solid skyblue;
    width: 400px;
}
